/* .Company{
    display: flex;
    flex-direction: column;
} */
.data{
    background-color: cadetblue;
    margin: .5rem 2rem;
    padding: 1rem;
    width: 20rem;
    height: 12rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.company_header{
    display: flex;
    justify-content: space-between;
}

.sales_details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.sales_details input{
    /* position: relative; */
    width: 100%;
}

.root_button button{
    margin: 10px;
    padding: 2px;
    width: 5em;
    height: 2rem;
    background-color: chartreuse;
    border: none;
}

.sub_data{
    width: auto;
    display: flex;
}