*{
  margin: 0;
  padding: 0;
  width: 90%;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  background-color: aquamarine;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root_button button{
  margin: 10px;
  width: 30%;
  height: 2rem;
  background-color: chartreuse;
  border: none;
}

main, .Level_zero, .level_One{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main{
  flex-direction: row;
}

.level_One{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}
