*{
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main{
  width: 100%;
  display: flex;
  align-items: center;
  /* display: flex;
  align-items: center; */
  /* margin: auto; */
}

header{
  background-color: aquamarine;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root_button button{
  margin: 10px;
  width: 30%;
  height: 2rem;
  background-color: chartreuse;
  border: none;
}



